## **MoMA Collection Data Processing**
## Table of Contents
### 1. [General Cleaning](#general)
### 2. [Cleaning Punctuation](#punctuation)
### 2. [Cleaning Dates](#dates)
### 3. [Extracting from Biographies](#bio-extraction)

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('./Artworks.csv')

## General Cleaning <a class='anchor' id='general'></a>

### Cleaning Punctuation <a class="anchor" id="punctuation"></a>

In [3]:
df['Nationality'].fillna('Nationality unknown',inplace=True)
df.fillna('-', inplace=True)
df['Cataloged'].replace({'Y':True,'N':False}, inplace=True)

df['cleanedDate'] = 0
df['Date2'] = 0

In [4]:
def strip_punct(df: pd.DataFrame, cols: [str, list], punct: str) -> pd.DataFrame:
    ''' 
    Takes in dataframe, column name or list of columns, and regex string of characters to remove
    overwrites original column with corrected column
    '''
    if type(cols) == str:
        df.loc[:,cols] = df.loc[:,cols].str.replace(f'{punct}','',regex=True)
    if type(cols) == list:
        for i in cols:
            df.loc[:,i] = df.loc[:,i].str.replace(f'{punct}','',regex=True)

In [5]:
strip_punct(df,['BeginDate','EndDate','Date','Gender'],'[^0-9\-]')
strip_punct(df,'Nationality','[^A-Za-z0-9\,\-\s]')
strip_punct(df,'ArtistBio','[\(\)]')

### Cleaning Dates <a class="anchor" id="dates"></a>

In [6]:
# adding properly formatted dates to new column
clean_dates = df[(df.Date.str.len()==4)&(df.Date.str.contains('\D')==False)].index
df.loc[clean_dates,'cleanedDate'] = df.loc[clean_dates,'Date']

print('{:,} total rows \n{:,} rows have dates correctly formatted'.format(len(df), len(df[df.Date.str.len()==4])))
print(f'completeness of Date {len(clean_dates)/(len(df)):.0%}\n')

140,848 total rows
105,575 rows have dates correctly formatted
completeness of Date 75%

In [7]:
# identifying most common, alternate Date formatting
df[df.Date.str.len()!=4]['Date'].value_counts()[0:2]; #missing values
df[df.Date.str.len()!=4]['Date'].value_counts()[2:30];

In [8]:
df[df.Date.str.len()!=4]['Date'].value_counts()[0:2].sum(), df[df.Date.str.len()!=4]['Date'].value_counts()[0:2].sum()/len(df) #missing values

(3148, 0.02235033511302965)

- Identified 3,148 or 2% of records that are missing `Date` value - see [date imputation](#date-imputation)
- We can also capture a large share with formattings:
  - *YYYYYYYY*
  - *YYYY-YYYY*
  - *YYYY-YY*
  - later noticed and added *YYYY* which introduced an additional 2% improvement

In [9]:
# cleaning date ranges yyyyyyyy and yyyyyy
eight_digits = df[((df.Date.str.len()==6)|(df.Date.str.len()==8))&(df.Date.str.contains('\D',regex=True)==False)].index

df.loc[eight_digits,'Date2'] = df.loc[eight_digits,'Date'].apply(lambda x: str(x)[4:])
df.loc[eight_digits,'cleanedDate'] = df.loc[eight_digits,'Date'].apply(lambda x: str(x)[0:4])
print(f'YYYYYYYY & YYYYYY formatting: completeness of Date improved {len(eight_digits)/(len(df)):.0%}')

# # pulling all dates with ranges yyyy-yyyy | yyyy-yy
dash_ranges = df[((df.Date.str.len()==7)|(df.Date.str.len()==9))&(df.Date.str.contains('\d{4}\-\d{1,4}',regex=True))].index
df.loc[dash_ranges,'Date2'] = df.loc[dash_ranges,'Date'].apply(lambda x: x.split('-')[1])
df.loc[dash_ranges,'cleanedDate'] = df.loc[dash_ranges,'Date'].apply(lambda x: x.split('-')[0])
print(f'YYYY-YYYY & YYYY-YY formatting: completeness of Date improved {len(dash_ranges)/(len(df)):.0%}')
print(f'remaining: {len(df[df.cleanedDate==0])/len(df):.0%}')

YYYYYYYY & YYYYYY formatting: completeness of Date improved 6%
YYYY-YYYY & YYYY-YY formatting: completeness of Date improved 13%
remaining: 6%

In [10]:
# checking formatting of remaining 7%
df[(df.cleanedDate==0)].Date.value_counts()[2:30];

In [11]:
# cleaning date ranges yyyyyyyyyy
# keeping [0:4]
# discarding [4:6]
# stashing [6:]

multirange = df[df.Date.str.contains('\d{9}[^\D]', regex=True)].index
df.loc[multirange,'Date2'] = df.loc[multirange,'Date'].apply(lambda x: str(x)[6:])
df.loc[multirange,'cleanedDate'] = df.loc[multirange,'Date'].apply(lambda x: str(x)[0:4])
print(f'YYYYYYYYYY formatting: completeness of Date improved {len(multirange)/(len(df)):.0%}')

YYYYYYYYYY formatting: completeness of Date improved 2%

In [19]:
# checking formatting of remaining 2%
df[(df.cleanedDate==0)].Date.value_counts()[2:30]

91962            69
2015-            41
51877-221894     30
19641965-66      27
1910-111912      27
1958-641964      25
18-231966        25
19721971-1972    21
19501949-50      21
11970            21
31916            20
19271925-1927    18
71925            17
-1991            17
91907            16
61966-251967     15
17-191969        15
19611965-66      14
1923-241925      14
61965            12
13-191970        12
1978-791995      11
-1925            11
1914-211925      10
2-101969          9
10-151970         9
8-131970          9
1999-             9
Name: Date, dtype: int64

In [136]:
#processing dates formatted YYYYYYYY
nodash = df[(df.Date.str.len()==8)&(df.Date.str.contains('-')==False)].index
df.loc[nodash,'cleanedDate'] = [int(i[0:4]) for i in df.loc[nodash,'Date']]
df.loc[nodash,'Date2'] = [int(i[4:]) for i in df.loc[nodash,'Date']]

print(f'completeness of Date improved {len(nodash)/(len(df)):.0%}')

completeness of Date improved 4%

In [125]:
daterange = df[(df.Date.str.len()==7)&(df.Date.str.contains('-')==True)].index
df.loc[daterange,'cleanedDate'] = [i.split('-')[0] for i in df.loc[daterange,'Date']]
df.loc[daterange,'Date2'] = [i.split('-')[1] for i in df.loc[daterange,'Date']]
print(f'completeness of Date improved {len(daterange)/(len(df)):.0%}')
print(f'total improvements: {(len(df[df.cleanedDate!=0])-len(pfdates))/(len(df)):.0%}')
print(f'remaining: {len(df[df.cleanedDate==0])/len(df):.0%}')

completeness of Date improved 6%
total improvements: 18%
remaining: 7%

In [126]:
df.loc[dash_ranges,'cleanedDate'].unique()

array(['1976', '1980', '1989', '1915', '1982', '1', '1929', '1918',
       '1975', '1952', '1956', '1960', '1978', '1934', '1986', '1926',
       '1937', '1946', '1939', '1941', '1944', '1945', '1957', '1927',
       '1974', '1977', '1965', '1972', '1968', '1994', '1988', '1970',
       '1959', '1985', '1979', '1913', '1930', '1928', '1955', '1984',
       '1987', '1947', '1992', '1993', '1990', '1991', '1958', '1954',
       '1950', '1953', '1933', '1932', '1902', '1923', '1925', '1938',
       '1903', '1898', '1935', '1880', '1936', '1964', '1900', '1943',
       '1920', '1904', '1905', '1908', '1971', '1948', '1949', '1966',
       '1942', '1951', '1983', '1924', '1962', '1899', '1909', '1963',
       '1901', '1917', '1969', '1840', '19531950', '1931', '1961', '1967',
       '1940', '1914', '1910', '1897', '1884', '1890', '1894', '1895',
       '1973', '1877', '1919', '1896', '1911', '1916', '1891', '19381936',
       '19751968', '19121908', '19651964', '19791974', '19851980',
       '19851984', '19911989', '19721946', '19521950', '19501948',
       '19761975', '19621959', '19641963', '19661965', '194719481930',
       '19641956', '1922', '19921990', '19531947', '19811943',
       '198919171988', '19441938', '19751962', '1889', '19731972',
       '19621960', '19831968', '19211920', '19811979', '51898', '171898',
       '19851973', '193919381935', '19741970', '199019571976', '19901988',
       '19881985', '19631962', '19501949', '19111908', '19241908',
       '19721968', '19661925', '19681967', '19851927', '19191910',
       '19491908', '19701966', '19401914', '19721971', '19751971',
       '19411916', '19391929', '19511945', '19691967', '19701968',
       '19321913', '19681966', '19491948', '193619371933', '19661964',
       '19611948', '1981', '19831981', '19471943', '19641947', '19651959',
       '1912', '19271912', '19641962', '1885', '19441943', '19261919',
       '19081907', '19301920', '19551932', '1921', '1893', '18961893',
       '19201919', '19261925', '19271926', '19311907', '19521927',
       '19561931', '19341876', '19351876', '19361870', '1825', '18281826',
       '19031893', '1906', '19121906', '19511934', '19621961', '19481942',
       '19511946', '18541852', '19311911', '19371931', '19401938',
       '19501945', '19211913', '19511948', '1797', '17991797', '1810',
       '18631810', '1816', '19041816', '19551916', '19291921', '19171907',
       '19311926', '19261912', '19181903', '19481935', '19461944',
       '19461942', '194719301944', '19471946', '19481941', '19501942',
       '19461945', '19441915', '19431926', '19501947', '19561953',
       '19571946', '19571956', '19571954', '19481922', '19231920',
       '19471945', '19221921', '19291919', '19321930', '19471933',
       '19551905', '19441898', '19561910', '19561920', '19531940',
       '19791978', '19271925', '19641959', '19631949', '1998', '1999',
       '1888', '22', '3', '8', '1865', '1868', '1907', '1871', '1850',
       '1855', '1846', '1853', '1860', '1843', '1872', '1861', '1854',
       '1858', '1826', '1870', '1876', '1829', '1873', '1856', '1851',
       '1995', '1867', '1874', '1864', '1862', '1878', '1852', '1839',
       '1857', '1996', '1866', '1859', '1838', '1869', '1786', '1883',
       '1892', '1863', '29', '1849', '1881', '1841', '1842', '1837', '30',
       '19461962', '1997', '18971899', '11', '14', '17', '23', '27', '28',
       '13', '12', '5', '24', '20', '18', '25', '10', '2', '26', '16',
       '31', '9', '19331939', '11969', '7', '19221920', '4', '31969', '6',
       '161969', '151969', '201969', '15', '21', '19', '241969', '311969',
       '19261911', '19121913', '19681952', '19121910', '19411918', '1800',
       '231968', '271968', '18831881', '171960', '19591958', '19601958',
       '19611958', '19621958', '181961', '19661935', '271962', '281962',
       '91963', '231963', '261963', '271963', '301963', '2000', '61966',
       '19321933', '1879', '', '19111911', '18851888', '19441924',
       '181950', '19511952', '131963', '19671973', '19141930', '19341954',
       '41997', '141999', '11907', '2001', '1821', '2002', '2003', '2004',
       '1122', '2005', '2006', '1886', '15200219', '324', '19891992',
       '1421', '20026', '198319917', '20022004', '1887', '2007',
       '19261924', '2008', '19611963', '1847', '19581962', '51877',
       '2009', '1992199520072011', '19841964', '19651965', '19641965',
       '2010', '2011', '2012', '2013', '2014', '2015', '19631965',
       '19611965', '19621965', '1960621965', '19581965', '1959641965',
       '51965', '2016', '2017', '2018', '2019'], dtype=object)

In [73]:
[int(i[0:4]) for i in df.loc[daterange,'Date']]

ValueError: invalid literal for int() with base 10: '3-41'

In [79]:
len(df[df['cleanedDate']!=0])

14147

In [50]:
[i[0:4] for i in df.loc[nodash,'Date']]

['1958',
 '1985',
 '1985',
 '1985',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1982',
 '1923',
 '1927',
 '1982',
 '1926',
 '1979',
 '1981',
 '1982',
 '1979',
 '1975',
 '1916',
 '1934',
 '1959',
 '1959',
 '1959',
 '1959',
 '1964',
 '1964',
 '1964',
 '1964',
 '1964',
 '1964',
 '1964',
 '1964',
 '1964',
 '1978',
 '1978',
 '1972',
 '1972',
 '1972',
 '1979',
 '1982',
 '1980',
 '1951',
 '1959',
 '1913',
 '1988',
 '1928',
 '1922',
 '1921',
 '1945',
 '1965',
 '1924',
 '1967',
 '1990',
 '1995',
 '1991',
 '1958',
 '1983',
 '1990',
 '1994',
 '1990',
 '1990',
 '1977',
 '1953',
 '1949',
 '1961',
 '1946',
 '1954',
 '1933',
 '1933',
 '1938',
 '1929',
 '1932',
 '1932',
 '1936',
 '1942',
 '1923',
 '1923',
 '1938',
 '1932',
 '1961',
 '1905',
 '1986',
 '1930',
 '1924',
 '1925',
 '1930',
 '1983',
 '1925',
 '1926',
 '1920',
 '1927',
 '1912',
 '1923',
 '1954',
 '1929',
 '1932',
 '1931',
 '1931',
 '1936',
 '1904',
 '1928',
 '1928',
 '1927',
 '1960',
 '1927',
 '1929',
 '1929',
 '1929',
 '1929',
 '1930',
 '1928',
 '1923',
 '1903',
 '1967',
 '1920',
 '1967',
 '1985',
 '1906',
 '1995',
 '1929',
 '1938',
 '1942',
 '1918',
 '1925',
 '1923',
 '1927',
 '1969',
 '1928',
 '1927',
 '1929',
 '1936',
 '1936',
 '1931',
 '1966',
 '1967',
 '1936',
 '1941',
 '1941',
 '1941',
 '1938',
 '1941',
 '1941',
 '1941',
 '1914',
 '1914',
 '1936',
 '1939',
 '1939',
 '1939',
 '1939',
 '1939',
 '1939',
 '1939',
 '1939',
 '1927',
 '1933',
 '1950',
 '1928',
 '1925',
 '1925',
 '1925',
 '1928',
 '1930',
 '1926',
 '1930',
 '1910',
 '1929',
 '1926',
 '1928',
 '1930',
 '1930',
 '1930',
 '1930',
 '1919',
 '1918',
 '1913',
 '1919',
 '1916',
 '1918',
 '1919',
 '1917',
 '1917',
 '1916',
 '1920',
 '1936',
 '1936',
 '1934',
 '1934',
 '1934',
 '1934',
 '1932',
 '1933',
 '1934',
 '1930',
 '1918',
 '1973',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1989',
 '1973',
 '1925',
 '1989',
 '1951',
 '1950',
 '1950',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1946',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1966',
 '1994',
 '1948',
 '1948',
 '1948',
 '1948',
 '1948',
 '1948',
 '1983',
 '1934',
 '1923',
 '1923',
 '1922',
 '1923',
 '1926',
 '1922',
 '1923',
 '1923',
 '1926',
 '1926',
 '1922',
 '1923',
 '1922',
 '1926',
 '1922',
 '1922',
 '1926',
 '1926',
 '1922',
 '1926',
 '1922',
 '1966',
 '1966',
 '1966',
 '1948',
 '1950',
 '1919',
 '1952',
 '1956',
 '1950',
 '1990',
 '1998',
 '1920',
 '1920',
 '1920',
 '1926',
 '1926',
 '1926',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1918',
 '1947',
 '1962',
 '1962',
 '1962',
 '1962',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1988',
 '1889',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1944',
 '1982',
 '1982',
 '1982',
 '1982',
 '1982',
 '1982',
 '1890',
 '1891',
 '1963',
 '1964',
 '1965',
 '1964',
 '1965',
 '1964',
 '1965',
 '1964',
 '1965',
 '1965',
 '1964',
 '1984',
 '1918',
 '1977',
 '1986',
 '1922',
 '1966',
 '1919',
 '1919',
 '1919',
 '1988',
 '1957',
 '1959',
 '1958',
 '1963',
 '1897',
 '1917',
 '1926',
 '1926',
 '1963',
 '1976',
 '1955',
 '1963',
 '1920',
 '1927',
 '1928',
 '1949',
 '1950',
 '1964',
 '1965',
 '1965',
 '1964',
 '1965',
 '1965',
 '1964',
 '1965',
 '1970',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1963',
 '1962',
 '1962',
 '1962',
 '1962',
 '1963',
 '1961',
 '1962',
 '1963',
 '1968',
 '1966',
 '1914',
 '1914',
 '1914',
 '1914',
 '1914',
 '1914',
 '1914',
 '1914',
 '1914',
 '1955',
 '1915',
 '1919',
 '1981',
 '1926',
 '1980',
 '1980',
 '1971',
 '1980',
 '1976',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1971',
 '1967',
 '1966',
 '1947',
 '1946',
 '1977',
 '1960',
 '1963',
 '1964',
 '1956',
 '1956',
 '1956',
 '1956',
 '1956',
 '1950',
 '1967',
 '1967',
 '1967',
 '1967',
 '1967',
 '1967',
 '1910',
 '1910',
 '1910',
 '1910',
 '1910',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1969',
 '1961',
 '1961',
 '1964',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1965',
 '1982',
 '1949',
 '1949',
 '1949',
 '1960',
 '1960',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1958',
 '1926',
 '1941',
 '1941',
 '1941',
 '1941',
 '1941',
 '1955',
 '1970',
 '1970',
 '1970',
 '1970',
 '1970',
 '1970',
 '1970',
 '1970',
 '1973',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1923',
 '1973',
 '1978',
 '1943',
 '1943',
 '1941',
 '1917',
 '1917',
 '1918',
 '1927',
 '1930',
 '1936',
 '1941',
 '1942',
 '1942',
 '1952',
 '1952',
 '1959',
 '1957',
 '1958',
 '1958',
 '1958',
 '1957',
 '1958',
 '1957',
 '1958',
 '1959',
 '1958',
 '1958',
 '1958',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1915',
 '1949',
 '1932',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1922',
 '1925',
 '1950',
 '1950',
 '1952',
 '1959',
 '1910',
 '1967',
 '1939',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1962',
 '1945',
 '1944',
 '1950',
 '1919',
 '1923',
 '1962',
 '1963',
 '1962',
 '1929',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1901',
 '1957',
 '1905',
 '1916',
 '1916',
 '1916',
 '1916',
 '1916',
 '1947',
 '1929',
 '1949',
 '1950',
 '1938',
 '1887',
 '1931',
 '1951',
 '1946',
 '1935',
 '1967',
 '1935',
 '1929',
 '1930',
 '1929',
 '1929',
 '1929',
 '1921',
 '1944',
 '1910',
 '1910',
 '1913',
 '1913',
 '1913',
 '1913',
 '1921',
 '1925',
 '1925',
 '1927',
 '1928',
 '1929',
 '1927',
 '1927',
 '1927',
 '1927',
 '1927',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1930',
 '1932',
 '1939',
 '1939',
 '1938',
 '1938',
 '1938',
 '1938',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1936',
 '1944',
 '1944',
 '1944',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1947',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1950',
 '1952',
 '1953',
 '1954',
 '1954',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1949',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1955',
 '1952',
 '1952',
 '1952',
 '1952',
 '1952',
 '1952',
 '1952',
 '1952',
 '1952',
 '1957',
 '1958',
 '1959',
 '1957',
 '1957',
 '1957',
 '1957',
 '1957',
 '1957',
 '1910',
 '1910',
 '1910',
 '1910',
 '1896',
 '1896',
 '1896',
 '1896',
 '1896',
 '1910',
 '1910',
 '1910',
 '1896',
 '1896',
 '1896',
 '1896',
 '1896',
 '1896',
 '1910',
 '1910',
 ...]

In [65]:
df[(df.Date.str.len()==7)].Date.unique()[0:150]

array(['1976-77', '1980-81', '1989-91', '1915-17', '1982-86', '1929-30',
       '1918-20', '1975-79', '1982-83', '1956-57', '1960-61', '1952-53',
       '1978-84', '1960-62', '1934-36', '1986-87', '1926-36', '1934-35',
       '1937-41', '1946-47', '1939-40', '1941-43', '1944-45', '1945-46',
       '1945-51', '1957-58', '1927-29', '1975-76', '1974-77', '1978-80',
       '1965-66', '1972-73', '1968-72', '1994-98', '1988-90', '1970-75',
       '1934-37', '1959-64', '1985-89', '1979-80', '1913-14', '1930-32',
       '1928-29', '1928-30', '1955-58', '1927-35', '1988-95', '1977-78',
       '1984-89', '1987-92', '1989-94', '1984-92', '1992-93', '1992-94',
       '1982-98', '1990-92', '1990-94', '1988-94', '1991-92', '1958-87',
       '1976-79', '1978-79', '1954-58', '1950-51', '1953-55', '1933-49',
       '1939-41', '1932-33', '1944-47', '1902-04', '1934-38', '1926-29',
       '1923-28', '1925-28', '1926-27', '1930-40', '1938-39', '1903-04',
       '1935-38', '1898-99', '1987-91', '1945-55', '1939-44', '1923-24',
       '1970-72', '1964-67', '1943-46', '1936-46', '1920-30', '1904-06',
       '1908-09', '1971-72', '1948-49', '1949-50', '1936-47', '1982-87',
       '1955-56', '1942-45', '1936-37', '1948-58', '1990-95', '1951-52',
       '1983-94', '1939-49', '1925-26', '1924-34', '1902-03', '1949-62',
       '1950-62', '1948-50', '1947-50', '1930-31', '1902-07', '1904-07',
       '1909-12', '1959-60', '1936-39', '1963-64', '1964-65', '1901-02',
       '1928-38', '1923-26', '1943-44', '1985-86', '1937-38', '1952-54',
       '1917-18', '1949-53', '1920-24', '1953-54', '1969-70', '1932-66',
       '1937-60', '1954-80', '1943-53', '1954-55', '1840-42', '1950-53',
       '1961-63', '1949-63', '1933-39', '1933-42', '1931-32', '1976-83',
       '1927-41', '1936-41', '1930-34', '1932-36', '1939-45', '1927-28'],
      dtype=object)

In [ ]:
pfdates = df[(df.Date.str.len()==4)].index
df.loc[pfdates,'cleanedDate'] = df.loc[pfdates,'Date']

In [6]:
output = ''

[output.join(i) for i in list(set([i.replace(')','').replace('(','') for i in re.split('\)\s\(',"(American) (American) (French)") if len(i) > 0 ]))]
print(output)

In [7]:
def parse_multi_nat(input: str) -> str:
    return ' '.join(list(set([i.replace(')','').replace('(','').replace('\t','') for i in re.split('\)\s\(',input) if len(i) > 0 ]))).strip()

In [8]:
# # testing
# parse_multi_nat('(American) (American) (Brazilian) (French) () (American)')
# parse_multi_nat('(American) (American) () (American)')
parse_multi_nat('(German) (Swedish) (German)	')

'German Swedish'

In [9]:
multi_nationality = df[df.Nationality.str.contains('\) ')].index
df.loc[multi_nationality,'cleanedNationality'] = df.loc[multi_nationality,'Nationality'].apply(lambda x: parse_multi_nat(x))

In [12]:
clean_nats = df[df.cleanedNationality.isnull()].index
df.loc[clean_nats,'cleanedNationality'] = df.loc[clean_nats,'Nationality']
# df.loc[:,'cleanedNationality'] = df.loc[:,'cleanedNationality'].str.replace(' Nationality unkown ','')

In [13]:
df.cleanedNationality.unique()

array(['Austrian', 'French', '', 'American', 'German', 'Dutch', 'Italian',
       'Swedish', 'American French', 'British', 'Japanese',
       'British Dutch', 'Argentine', 'Brazilian', 'Swiss', 'Luxembourger',
       'Spanish', 'Austrian Polish', 'Russian', 'Iranian',
       'Swiss American', 'Canadian German American Dutch Belgian Spanish',
       'French German American Japanese Dutch Belgian',
       'American Japanese Dutch French', 'Dutch Norwegian',
       'Swiss French', 'Finnish', 'German American', 'German Swiss',
       'American Dutch Japanese', 'Japanese Italian', 'Canadian',
       'Nationality unknown', 'Danish', 'Belgian', 'American Italian',
       'Czech', 'Moroccan', 'Coptic', 'Persian', 'Canadian American',
       'Colombian', 'Dutch Danish', 'German Italian', 'Australian',
       'Chinese', 'Mexican', 'Slovenian', 'American Scottish',
       'German Swedish', 'Hungarian', 'British American',
       'Argentine Italian', 'American Swedish', 'Polish', 'British Swiss',
       'Chilean', 'Argentine Spanish', 'Latvian', 'American Danish',
       'British Italian', 'German Dutch', 'American Mexican', 'Greek',
       'American Spanish', 'Israeli', 'Czechoslovakian',
       'Latvian Russian', 'Icelandic', 'German French', 'Croatian',
       'German Austrian', 'Norwegian', 'Georgian', 'Ukrainian',
       'Yugoslav', 'American Argentine', 'Cuban', 'American Belgian',
       'Czech American', 'Romanian', 'Venezuelan',
       'German American Austrian',
       'Swiss French Greek Mexican British American Uruguayan Spanish Italian',
       'Uruguayan', 'Swiss French American Polish Spanish Italian',
       'Chilean Belgian',
       'Swiss French Australian German American British',
       'Ukrainian Russian', 'American Swiss',
       'American South African Austrian', 'Swiss American Italian',
       'Canadian  American French', 'Swiss German American Thai',
       'German Swiss American', 'British German',
       'Swiss American Austrian', 'Swiss Scottish Canadian American',
       'Swiss Mexican British American', 'American Japanese',
       'German American British', 'Greek German',
       'American Venezuelan French', 'Canadian  Swiss Italian',
       'British American Venezuelan', 'Swiss German American Italian',
       'Swiss American Japanese', 'Georgian Russian',
       'German American Swiss', 'Ukrainian Georgian Russian',
       'Swiss German American British', 'British American Belgian',
       'American Irish', 'British French', 'German American Danish',
       'Nationality unknown Georgian Russian',
       'Nationality unknown Russian', 'Swiss American New Zealander',
       'Nationality unknown French Russian', 'Thai',
       'Swiss Australian German American British', 'American Russian',
       'Nationality unknown Ukrainian',
       'Swiss French Cuban German British Spanish',
       'Mexican American Argentine Spanish',
       'Swiss French Dutch Algerian Belgian', 'Algerian',
       'Danish French Icelandic British Dutch Belgian', 'Swiss Russian',
       'Canadian  American', 'Swedish French Canadian Spanish',
       'German Hungarian Austrian',
       'Romanian Czech Swiss  French Cuban German American Brazilian Belgian Chilean Spanish Italian',
       'Spanish  American French',
       'French Canadian British American Polish Chilean Spanish',
       'Swiss French Australian German American British Dutch Belgian Hungarian Austrian Italian',
       'Nationality unknown Ukrainian Russian',
       'Swiss British American Japanese', 'Serbian',
       'French Russian German American Israeli Belgian Argentine Hungarian Italian',
       'Guatemalan', 'Spanish  French Polish',
       'French Russian German Dutch', 'Swiss Italian',
       'Swiss French Dutch Belgian Italian', 'French Italian',
       'Swiss Danish French Canadian British American Japanese Dutch German Belgian Italian',
       'Swedish French Canadian German British Japanese Belgian Italian',
       'Romanian  Swedish French Cuban Indian British Japanese Chinese Belgian Argentine Italian',
       'Indian',
       'French Russian Mexican German Japanese Dutch Polish Argentine Chilean Austrian Italian',
       'French Russian', 'Spanish Georgian',
       'Swiss French German Belgian Spanish Italian', 'Spanish French',
       'French Canadian British American Spanish',
       'Swiss French American Spanish', 'American Spanish French',
       'Swiss Austrian French Japanese Spanish',
       'Czech Swiss French German Dutch Italian', 'French Polish',
       'American Japanese French',
       'Nationality unknown French American Irish', 'Irish',
       'British American French', 'American Swiss British',
       'American Japanese Italian', 'German American Belgian',
       'Swedish Danish Canadian British American Spanish Dutch Belgian Austrian Italian',
       'Costa Rican', 'Korean', 'Native American', 'Ethiopian', 'Kuwaiti',
       'Haitian', 'Spanish American French', 'Scottish', 'Swedish French',
       'South African', 'Zimbabwean', 'Romanian American French',
       'Ecuadorian', 'Portuguese', 'Panamanian', 'Peruvian', 'Congolese',
       'Hungarian French', 'Azerbaijani', 'Malian', 'Turkish',
       'Cambodian', 'Bosnian', 'German British', 'Dutch Belgian',
       'American Venezuelan', 'British American Italian',
       'Spanish Polish', 'Canadian Inuit', 'Argentine Austrian', 'Slovak',
       'Estonian', 'German Swiss Austrian', 'Pakistani',
       'British Spanish', 'American Austrian',
       'Swiss French German British Portuguese',
       'Swiss French British German Portuguese',
       'British Portuguese German French',
       'Colombian Venezuelan Mexican Spanish', 'Bulgarian', 'Bolivian',
       'American Australian', 'German Austrian Polish', 'Palestinian',
       'French British American Dutch', 'Swiss French American Japanese',
       'British American Swedish',
       'Swiss Nationality unknown French American Italian', 'Taiwanese',
       'French Cuban British American Chilean Spanish',
       'Czech French Belgian', 'German Nationality unknown French',
       'Nationality unknown French', 'Nationality unknown French Belgian',
       'French Belgian', 'Nationality unknown Dutch French',
       'American Swiss French', 'Swiss Nationality unknown French',
       'British Nationality unknown',
       'Colombian Venezuelan Paraguayan Mexican British American Japanese Brazilian Uruguayan Argentine Spanish',
       'Paraguayan', 'Swiss American British', 'German Brazilian',
       'Nationality unknown Cuban', 'British American German',
       'Swiss French American Irish', 'American Italian Russian',
       'American Nationality unknown Italian',
       'British American Nationality unknown',
       'Swiss Nationality unknown French American', 'Cuban Spanish',
       'Romanian Slovenian Czech  Polish Hungarian',
       'German American Swedish', 'Nicaraguan', 'German American French',
       'Tunisian', 'Sudanese', 'Tanzanian', 'Senegalese', 'Bahamian',
       'Finnish Swedish', 'Brazilian French', 'German Russian',
       'British American German Belgian South African',
       'Swiss Icelandic Canadian American', 'Swiss American Dutch',
       'Puerto Rican', 'British Australian',
       'Canadian British American German',
       'Finnish German American British', 'American Serbian',
       'Austrian French Cuban American Spanish', 'American Dutch Italian',
       'Dutch Italian', 'New Zealander', 'Japanese Dutch', 'Lebanese',
       'American Dutch Spanish Iranian', 'American Brazilian',
       'Iranian Spanish', 'British Danish', 'British Cypriot',
       'British American Argentine', 'American Japanese Austrian',
       'Canadian British', 'British New Zealander', 'Kenyan',
       'American Swiss Italian', 'Canadian  Swiss French',
       'German Polish', 'Nigerian', 'British Polish', 'Israeli Austrian',
       'Austrian Israeli', 'German Swiss Italian', 'Egyptian', 'Albanian',
       'Spanish Italian', 'Brazilian American Spanish', 'Japanese Korean',
       'German Danish', 'British American Polish Austrian',
       'German American Albanian', 'Slovak American Dutch',
       'Romanian  Swiss British American', 'Uruguayan American',
       'British American German Belgian',
       'French Mexican British Irish Austrian Italian', 'Ivorian',
       'Malaysian', 'Italian Danish Norwegian', 'American Korean',
       'Singaporean', 'Lithuanian', 'Austrian French',
       'German Australian', 'German Ukrainian',
       'Korean British American Chinese', 'Czech Austrian',
       'Swiss British American German Thai Austrian', 'American Israeli',
       'Korean American Belgian Italian',
       'Korean German American British Brazilian', 'Namibian',
       'American Chinese', 'German British Israeli', 'British Portuguese',
       'British Austrian', 'German American Italian Japanese',
       'Swiss Greek Canadian American Taiwanese South African',
       'American South African', 'British Scottish',
       'Swiss German American Irish Austrian',
       'French Cuban British American German', 'American Cuban',
       'Ghanaian', 'Afghan', 'American Icelandic', 'German Serbian',
       'German American Russian', 'Dutch Scottish', 'Kyrgyz',
       'American Dutch', 'Canadian Japanese', 'Swiss Austrian',
       'German American Polish', 'German Austrian Chinese',
       'American Polish', 'Danish French American Japanese',
       'German American Japanese', 'German American Swiss Japanese',
       'Nationality unknown French German American Japanese Austrian',
       'German American Swedish Swiss', 'Mexican Belgian',
       'Swiss German American British Polish',
       'Nationality unknown French American Japanese Austrian',
       'French American Japanese Dutch',
       'Danish German American Japanese Welsh',
       'French British American Japanese',
       'Swiss Danish French American Japanese', 'American Vietnamese',
       'Swiss French American Japanese Dutch', 'Swiss Dutch',
       'Czech American Japanese', 'American Dutch French',
       'French American Brazilian Austrian', 'German Czech', 'Ugandan',
       'Lithuanian American', 'Cameroonian', 'American Lithuanian',
       'Danish French German American Austrian',
       'Czech Swiss French British American German Austrian',
       'Romanian German', 'Czech American German', 'German Romanian',
       'German Czech Austrian', 'German Czech Polish', 'Danish Belgian',
       'Czech Danish Nationality unknown French German American Japanese Dutch Italian',
       'American French Italian', 'Swedish German Japanese American',
       'Austrian Norwegian', 'American French Japanese',
       'American Norwegian', 'Welsh', 'German Japanese',
       'Croatian French', 'Croatian Swiss',
       'American Nationality unknown', 'Nationality unknown Spanish',
       'British Indian', 'Swiss French Belgian', 'British South African',
       'German Argentine', 'American Dutch French Italian',
       'British Brazilian', 'Georgian German American Chinese Austrian',
       'Swedish Korean German American Austrian',
       'Swedish Ukrainian Ghanaian American Austrian',
       'British American Chinese Polish Moroccan Austrian',
       'Swiss German American Japanese', 'Japanese Hungarian French',
       'Israeli Italian', 'British American Mexican',
       'Swiss Mexican British American Polish',
       'American Hungarian French', 'Canadian Hungarian French',
       'Dutch French Hungarian', 'German Hungarian French',
       'Hungarian French Italian', 'Israeli Belgian', 'Argentine Chilean',
       'Dutch Chinese', 'British American French Icelandic',
       'Brazilian Mexican', 'Uruguayan Brazilian', 'Swedish Irish',
       'Czech Danish French German American Spanish Italian',
       'German American Czech', 'American Japanese German',
       'American Indian', 'British Japanese Irish',
       'American Spanish Italian', 'Swiss Danish American Argentine',
       'American New Zealander', 'Canadian Spanish Italian',
       'Canadian German', 'Argentine Brazilian', 'Venezuelan Brazilian',
       'Chilean Brazilian', 'Cuban Brazilian', 'Croatian American',
       'British American German Dutch Italian', 'American Dutch Belgian',
       'Egyptian Indian British German', 'German French Icelandic',
       'German Czech French', 'American Brazilian French',
       'German Swedish Catalan', 'German American Thai',
       'Japanese Chinese', 'British Russian', 'Vietnamese',
       'Sahrawi Swiss', 'Swiss American French', 'Macedonian', 'Filipino',
       'Swiss British American Chinese', 'German French Mexican',
       'Swedish New Zealander', 'American Welsh', 'Colombian Peruvian',
       'German American Dutch', 'British American Israeli Chinese',
       'Romanian British Israeli Chinese',
       'German American Swedish Czech', 'Lebanese Algerian',
       'Macedonian Swiss', 'Swiss Serbian', 'Swiss Bosnian',
       'Slovenian Swiss', 'Czech French Cuban British Argentine',
       'French British American Italian', 'French Belgian British Polish',
       'British Swiss French', 'Danish Lebanese British American Thai',
       'Colombian Venezuelan Brazilian Argentine', 'Bangladeshi',
       'Swiss French German American South African Italian',
       'Filipino Danish', 'Burkinab', 'Beninese', 'Sierra Leonean',
       'British Japanese', 'Emirati', 'Serbian Australian', 'Salvadoran',
       'Salvadoran American', 'Swiss French American Dutch', 'Iraqi',
       'Moroccan Israeli', 'Mozambican', 'Croatian Bosnian',
       'Kenyan Indian Mexican American Chinese'], dtype=object)

### Determining opportunities to impute Date <a class="anchor" id="date-imputation"></a>

## Extracting From Biographies <a class="anchor" id="bio-extraction"></a>
### [Extracting birthplace](#birthplace), if listed
### [Imputing nationalities](#impute-nationalities)

In [14]:
bio2ref = df[df.ArtistBio.str.contains(',')==True].index

df.loc[:,'NationalityBio'] = df.loc[:,'ArtistBio'].apply(lambda x: x.split(',')[0])
df.loc[bio2ref,'Bio2'] = df.loc[bio2ref,'ArtistBio'].apply(lambda x: x.split(',')[1])

In [15]:
df[df.Bio2.str.contains('born')==True].ArtistBio.value_counts()

American, born France. 19112010                                   3339
American, born Germany. 18861969                                  2657
American, born 1934                                                1534
French, born Belarus. 18871985                                    1166
American, born Lithuania. 19311978                                 831
                                                                   ...
German, born Bohemia. 18751951                                       1
Swedish, born 1967                                                    1
Italian, born 1966 Italian, born 1972 Italian, established 1998       1
German, born 1897                                                     1
Malian, born 1953                                                     1
Name: ArtistBio, Length: 3230, dtype: int64

In [16]:
bp_ref = df[df.ArtistBio.str.contains('born')==True].index

for i in bp_ref:
    output = list(set(re.findall('born\s\d{0,}\s{0,1}([A-Za-z]+)', df.loc[i,'ArtistBio'])))
    
    if len(output) == 1:
        df.loc[i,'Birthplace'] = output[0]
    elif len(output) == 0:
        df.loc[i,'Birthplace'] = 'N/A'
    else:
        df.loc[i,'Birthplace'] = [''.join(i) for i in output][0]
        
df['Birthplace'].fillna('N/A', inplace=True)

In [17]:
[' '.join(i) for i in output][0]

'G e r m a n y'

In [18]:
df.Birthplace.value_counts()[20:40]

the          258
Canada       252
Cuba         244
British      197
Korea        170
Japan        152
India        149
Latvia       138
Bohemia      132
Estonia      129
Spain        123
Chinese      120
Sweden       120
in           117
Scotland     115
Brass        112
Swiss        112
Argentina    105
Argentine     88
Ireland       87
Name: Birthplace, dtype: int64

In [19]:
# Answer
primes = [] # Set a list to catch prime values

for i in range(3, 2000): 
    # All statement evaluates to true if all of the iterables satisfy the criteria
    # If i divided by the existing primes(x) never has a remainder of 0
    if all(i % x != 0 for x in primes):
        # Append this number to the primes list
        primes.append(i)

sum(primes)

277052

In [20]:
df[df.Birthplace=="['Uruguay', 'American', 'Argentine']"]

Empty DataFrame
Columns: [Title, Artist, ConstituentID, ArtistBio, Nationality, BeginDate, EndDate, Gender, Date, Medium, Dimensions, CreditLine, AccessionNumber, Classification, Department, DateAcquired, Cataloged, ObjectID, URL, ThumbnailURL, Circumference (cm), Depth (cm), Diameter (cm), Height (cm), Length (cm), Weight (kg), Width (cm), Seat Height (cm), Duration (sec.), cleanedDate, Date2, cleanedNationality, NationalityBio, Bio2, Birthplace]
Index: []

[0 rows x 35 columns]

In [21]:
df[(df.Nationality==None)]

Empty DataFrame
Columns: [Title, Artist, ConstituentID, ArtistBio, Nationality, BeginDate, EndDate, Gender, Date, Medium, Dimensions, CreditLine, AccessionNumber, Classification, Department, DateAcquired, Cataloged, ObjectID, URL, ThumbnailURL, Circumference (cm), Depth (cm), Diameter (cm), Height (cm), Length (cm), Weight (kg), Width (cm), Seat Height (cm), Duration (sec.), cleanedDate, Date2, cleanedNationality, NationalityBio, Bio2, Birthplace]
Index: []

[0 rows x 35 columns]

In [22]:
df['Nationality'].unique()

array(['Austrian', 'French', '', ..., 'Croatian    Bosnian',
       'American American Brazilian French  American',
       ' American American American American American Kenyan Mexican American American Indian American Chinese'],
      dtype=object)

In [23]:
df['Bio2'].unique()[0:100]

array([' 18411918', ' born 1944', ' 18761957', ' born Switzerland 1944',
       ' born Estonia. 19011974', ' 18781969', ' 18781961',
       ' 18691936', ' born Austria. 19332010', ' born 1932',
       ' born 1944 Dutch', ' 19491991', ' 19342015',
       ' 19311997 Italian', ' born Germany. 18861969', ' 18851940',
       ' 18851940 Swedish', ' 18951979 French', ' 18951979 American',
       ' born 1947', ' born Germany now Poland. 18871953',
       ' born Italy. 19192013', ' 19181997', ' born 1936',
       ' born Poland 1954 American', ' born Iraq. 19502016',
       ' born 1928', ' born 1944 British', ' 18671959', ' born 1935',
       ' est. 19641979 American', ' established 1980 American',
       ' born 1943', ' born 1941', ' born 1931', ' 18831931 Dutch',
       ' 19091994 Brazilian', ' born 1957', ' 18951983', ' 19091994',
       ' born Austria. 19001985', ' born 1946', ' born Poland 1946',
       ' born 1944 American', ' 19311997', ' born 1956', ' 19272016',
       ' 19021968 Italian', ' born 1934', ' born Uruguay 1944',
       ' born 1951', ' born Estonia. 19011974 American',
       ' born Austria-Hungary. 18901965', ' 19352004',
       ' born Germany. 19011980', ' born 1939', ' born Canada 1929',
       ' born 1942 Polish', ' born Argentina 1926', ' 19342014',
       ' born 1960 American', ' born 1962', ' 18831931',
       ' born Scotland 19261992', ' born Ukraine. 18891951',
       ' born 1932 American American', ' born 1959',
       ' born Switzerland. 18871965', ' born Germany. 19001991 Swiss',
       ' born Germany. 19001991', ' 19152004', ' born 1944 German',
       ' 19342007', ' born Austria. 18921970', ' born 1955',
       ' born 1950 Swiss', ' founded 1936 American', ' born 1953', nan,
       ' 19362012', ' founded 1970 American', ' 19292000', ' born 1938',
       ' 19232020', ' 19301994', ' born Argentina 1942 American',
       ' born 1937', ' 19342003', ' 18951983 American',
       ' born Austria 1932', ' est. 19661982 Italian', ' 19432012',
       ' born Austria. 19172007', ' 19262007',
       ' born Greece 1937 British', ' founded 1976 American',
       ' born 1944 French', ' born 1944 Norwegian', ' founded 1967',
       ' born Switzerland. 18871965 Swiss'], dtype=object)

In [24]:
df[df.Birthplace.str.contains('\[')==True].Birthplace.unique()

array([], dtype=object)

### Impute Nationalities <a class="anchor" id="impute-nationalities"></a>

In [25]:
# checking mismatches
len(df[df.Nationality!=df.NationalityBio])

15865

In [26]:
# pulling top 10 donors, by volume
[print('{:,} items from {}'.format(df.CreditLine.value_counts()[i], i)) for i in df.CreditLine.value_counts().index[0:10]];

11,258 items from The Louis E. Stern Collection
10,612 items from Gift of the artist
8,392 items from Purchase
5,438 items from The Gilbert and Lila Silverman Fluxus Collection Gift
4,929 items from Abbott-Levy Collection. Partial gift of Shirley C. Burden
2,472 items from The Judith Rothschild Foundation Contemporary Drawings Collection Gift
2,383 items from Gift of Kleiner, Bell & Co.
1,889 items from Gift of Abby Aldrich Rockefeller
1,863 items from -
1,686 items from Gift of The Judith Rothschild Foundation

In [27]:
# pulling remaining, most common formatting issues
df[df.cleanedDate==0].Date.value_counts()[0:10]

1966    2135
-       2105
1967    2098
1965    1970
1971    1925
1968    1834
1969    1687
1970    1669
1973    1662
1930    1657
Name: Date, dtype: int64

In [28]:
df[(df.Date==0)&(df.BeginDate.str.len()==4)]

Empty DataFrame
Columns: [Title, Artist, ConstituentID, ArtistBio, Nationality, BeginDate, EndDate, Gender, Date, Medium, Dimensions, CreditLine, AccessionNumber, Classification, Department, DateAcquired, Cataloged, ObjectID, URL, ThumbnailURL, Circumference (cm), Depth (cm), Diameter (cm), Height (cm), Length (cm), Weight (kg), Width (cm), Seat Height (cm), Duration (sec.), cleanedDate, Date2, cleanedNationality, NationalityBio, Bio2, Birthplace]
Index: []

[0 rows x 35 columns]

In [29]:
df[(df.Date==0)|(df.Date==None)]

Empty DataFrame
Columns: [Title, Artist, ConstituentID, ArtistBio, Nationality, BeginDate, EndDate, Gender, Date, Medium, Dimensions, CreditLine, AccessionNumber, Classification, Department, DateAcquired, Cataloged, ObjectID, URL, ThumbnailURL, Circumference (cm), Depth (cm), Diameter (cm), Height (cm), Length (cm), Weight (kg), Width (cm), Seat Height (cm), Duration (sec.), cleanedDate, Date2, cleanedNationality, NationalityBio, Bio2, Birthplace]
Index: []

[0 rows x 35 columns]

In [30]:
# for i in df.loc[ref, 'Date'].index:
#     f = df.loc[i,'Date'][:4]
#     s = df.loc[i,'Date'][4:]
    
#     df.loc[i,'Date'] = f
#     df.loc[i,'Date2'] = s